<% provide(:title, @title) %>
<div class="row">
    <%=render 'user_info'%>
        <% @users.each do |user|%>
            <% if user.image? %>
                <%= image_tag user.image.to_s,size: "64x64" %>
            <% else %>
                <%= image_tag "/images/noimage.gif",size: "64x64" %>
            <% end %>
        <% end %>
    </aside>
    <div class="col-md-8">
        <h3 class="title"><%= @title %></h3>
        <% if @users.any? %>
            <ul class="users follow">
            </ul>
            <%=will_paginate%>
        <% end %>
    </div>  
</div>