<div class="raw">
<div class="col-md-12 user_info">
      <p><%= @user.name %></p>
      <p><%= link_to("New Videos", new_video_path,class: "btn btn-info")%></p>
       <%= will_paginate @videos %>
</div>
<% @videos.each do |video| %>
  <h2 class="col-md-9 col-md-offset-3"><%=video.name%></h2>
  <div class="col-md-4 col-md-offset-3 videos">
    <iframe width="280" height="160" src="https://www.youtube.com/embed/<%=video.url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>
    <span>Tags:</span>
    <% video.categories.each do |category|%>
      <span class="btn btn-primary btn-xs"><%= category.name %></span>
    <% end %>
    </p>
    </div>
    <div class="col-md-5 desc"><%= video.description%></div>
  <% end %>
</div>
