<div class="row">
  <div class="user_info">
    <section class="col-md-4">
      <% if @user.image? %>
        <p><%= image_tag @user.image.to_s ,size: "128x128" %></p>
      <%else%>
        <p><%= image_tag "/images/noimage.gif",size: "128x128"%></p>
      <%end%>
      <p><%= @user.name %></p>
      <p><%= link_to("New Videos", new_video_path,class: "btn btn-info")%></p>
      <p><%= link_to("Settings", edit_user_path(@user),class: "btn btn-info")%></p>
    </section>
    <section class="col-md-6">
      <%= pie_chart(@chart)%>
    </section> 
  </div>
</div>
<div class="row">
  <div class="category_list">
    <%=link_to("All",user_path,class: "btn btn-info")%>
    <% @categories.each do |category|%>
      <%=link_to("#{category.name}",user_path(category_id: category.id),class: "btn btn-info")%>
    <% end %>
  </div>
  <%= render 'shared/video_index'%>
</div>
