<div class="raw">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/error_messages', object: @video%>
    <%= form_for(@video) do |f|%>
      <%= f.label :name%>
      <%= f.text_field :name, class: 'form-control',value: @name || @video.name%>
      <%= f.label :url%>
      <%= f.text_field :url, class: 'form-control',value: @url || @video.url%>
      <%= f.label :description%>
      <%= f.text_area :description, class: 'form-control'%>
      <% @categories.each do |category|%>
        <span class="check_box">
          <%= f.check_box :categories,{multiple: true,checked: checked?(@video,category)},category.id,nil%>
          <%= f.label "#{category.name}"%>
        </span>
      <% end %>
      <%= f.submit class: 'original-btn'%>
    <% end %>
  </div>
</div> 